*{
  margin:0;
  padding:0;
}

@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');



*{
  margin:0;
  padding:0;

}

#header h1{
color:black;
font-family: 'math', verdana;
}

#header #nav ul{
  display:flex;
  background-color:black;
  justify-content: space-around;
padding: 9px 0px;

}
#header #nav ul li{
  list-style:none;

  margin:0px 5px;
}
#header #nav ul li a{
  text-decoration:none;
  padding: 7px 7px;
  font-family: verdana;
  color:white;
}
#header #nav ul li a:hover{
  color:black;
  background-color: white;
  border-radius:20px;
}

table{
  border-collapse: collapse;
  width: 90%;
  margin:auto;
  margin-top: 5px;
}
table,th,td{
  border:1px solid grey;
}
table th,td{
  padding:10px;

}

#main h2{
  text-align: center;
margin-top: 20px;
font-family: monospace;
}

#main .search form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main .search form .box input{
  width: 322px;
padding: 4px;
}
#main .search{
  margin-top:40px;
}
#main .search form .box{
  margin:auto;
}
#main .search form #btn{
  width: 100px;
  margin: 5px;
  padding: 6px;
}
